
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Index</title>
</head>
<body>
   <h2>Index</h2>
  <p><a href="/Home/Create">Create</a></p>
   <p><a href="/Home/Edit">Edit</a></p>
</body>
</html>